
  body,
  body * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

header,
main,
footer {
    width: 900px;
    margin: 40px calc(50% - 400px); 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   /* margin-left: calc(50% - 400px);
   margin-right: calc(50% - 400px);
   margin-top: 25px;
   margin-bottom: 25px;  vienodai aprasoma kaip komandos taip pati ir viena */
}
header > img{
    height:30px;
}
header > nav {
    display: flex;
    gap: 10px;
}
nav > a{
    color: #000;
    text-decoration: none;
    font-size: 20px;
} 
nav > a:hover{
    text-decoration: underline;
    color: #ff2255;
}
h1{
    font-weight: bold;
}
h1 > span{
    display: block;
    font-weight:normal;
}
h1::after {
    content: '';
    display: block;
    width: 100px;
    height: 5px;
    background-color: #55337a;   
}
main > div {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 10px;
    flex-wrap: wrap;
}
main > img {
    width: 55%;
}
h1{
font-size: 2em;
}
main > div > div{ 
    text-decoration: none;
    font-size: 18px;
}
main > div > div > a {
    display: inline-block;
    font-size: 1em;  /* 18px = 1em */
    line-height: 1em;
    padding: 1em 2.5em; 
    background-color: #55337a;
    color: #fff;
    border-radius: 1.6em;
    text-decoration: none;
    text-transform: uppercase;
    border: 0.1em solid #55537a;
    user-select: none;
}
main > div > div > a:hover{
    background-color: #fff;
    color: #55337a;
}
p {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main > img { 
    margin-left: 10px;
};
footer {
    color: #000;
    font-size: 150px;
}


/* screen size 1920x1020 */